body {
    margin: 0;
    overflow: hidden;
}

header {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 5vh;
}

h1 {
    font-size: 5vh;
    margin-top: 0;
}

h2 {
    margin: 0;
}

.caixa-slide {
    background-color: #A1E8AF;  
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.caixa-slide h1 {
    margin-top: 1%;
}

.slides {
    
    position: relative;
    width: 50vw;
    height: 75vh;
    background: #747C92;
    box-shadow: 10px 10px 10px #3A2449;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    position: fixed;
    left: 68%;
    top: 82%;
}

button {
    margin-top: 25%;
    width: 3vw;
    height: 5vh;
    font-size: 200%;
    font-weight: 600;
    border-color:black;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
}

button:hover {
    background-color: lightgray;
    border-color:black;
    opacity: 100;
    cursor: pointer;
}

button:active {
    box-shadow: none;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.branco {
    position: absolute;
    object-fit: cover;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@keyframes passando {
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 0}
}

#return {
    background-color: #4CAF50; /* Green */
    opacity: 1;
    border: none;
    color: white;
    text-align: center;
    font-style: bold;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5vh;
    cursor: pointer;
    box-shadow: 3px 3px black;
    margin: 0 1vw;
    height: 4vh;
    width: 4vw;
    border-radius: 10px;
}